# Игнорировать все файлы с расширением .log
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать все файлы .env
.env

# Игнорировать папку build
build/

# Игнорировать папку .next
.next/